body {
  margin-top: 50px;
}

.home {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-bottom: 50px;
}

.title {
  font-size: 500%;
  /*color: #b0b0b0;*/
  /*color: #CD0000;*/
  color: #000000;
  font-weight: bold;
  padding-bottom: 50px;
}

.space {
  padding: 50px;
}

.footer {
  margin-top: 50px;
  opacity: 0.9;
}

.navbar-right {
  padding-right: 50px;
}

.navbar-right img {
  width: 22px;
  height: 22px;
}

.footer li:hover {
  opacity: 1;
}

.background {
  background-color: white;
}

.item-list {
  padding-left: 0;
  list-style: none;
}

.scroll {
  position: fixed;
  width: 100px;
  bottom: 50px;
  left: 50px;
}

.grid-menu {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.project {
  float: left;
  width: 31%;
  height: 300px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  margin: 10px;
  overflow: hidden;
}

.project-nopic {
  /*background-color: #FF0000;*/
  color: #FFFFFF;
}

.circle {
  border-radius: 150px;
}

.active {
  opacity: 0.7;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

img.tile {
  width: 100%;
  height: 100%;
}

.tapus-pic {
  width:100%;
}

.project-row {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}