<div class="row">
  <div class="col-md-6">
    <h1 class="title">Joe Bruzek</h1>

    <p>My name is Joe Bruzek, I am a junior at Virginia Tech studying Computer Science, with minors in Industrial Design and Math.</p> 

    <p>I graduated valedictorian of my high school, Holy Cross Regional School in Lynchburg, Va, in 2012. In high school I participated in Student Government, Forensics, and Theatre, as well as being a three sport varsity athlete and captain of the soccer team.</p>
 
    <p>At Virginia Tech I participate in various activities in and out of class. I am a Project Lead for the Virginia Tech Design For America studio, where I work on the See[k] project. I also led a team in developing the Tapus project, an ongoing exploration in near field communication and how it can be used in data transer. In my freshman year I won the "Best Design" award with my team in a pallet wood repurposing design competition.</p>
 
    <p>In January 2013 I was sent by the ICAT studio (Institute for Creativity, Arts, and Technology) to represent Virginia Tech as a Sophomore to the National Emerging Creatives Student Conference at Stanford University in California. While there, I built the prototype of the Death Number app, and was elected to present it to the entire conference with my team.</p>
 
    <p>I am passionate about how technology and design can be used to improve the user experience. Whether it's computer software, mobile applications, or physical products, I believe that I can help re-imagine and create a more efficient and usable experience for the end user.</p>
  </div>
  <div class="col-md-6">
    <img src="images/profile.png" width="100%">
  </div>
</div>