<div class="row">
  <div class="col-md-6">
    <h1 class="title">Joe Bruzek</h1>

    <p>I graduated valedictorian of my high school, Holy Cross Regional School in Lynchburg, Va, in 2012. In high school I participated in Student Government, Forensics, and Theatre, as well as being a three sport varsity athlete and captain of the soccer team.</p>
 
    <p>At Virginia Tech I participate in various activities in and out of class. I am a Project Lead for the Virginia Tech Design For America studio, where I work on the See[k] project. I also led a team in developing the Tapus project, an ongoing exploration in near field communication and how it can be used in data transer. In my freshman year I won the "Best Design" award with my team in a pallet wood repurposing design competition.</p>
 
    <p>In January 2013 I was sent by the ICAT studio (Institute for Creativity, Arts, and Technology) to represent Virginia Tech as a Sophomore to the National Emerging Creatives Student Conference at Staford University in California. While there, I built the prototype of the Death Number app, and was elected to present it to the entire conference with my team.</p>
 
    <p>I am interested in how I can use technology and design to push the boundaries of how people interact with products. I think that I can help build a future where software and products are both easy and fun to use, and revolutionize the user experience.</p>
  </div>
  <div class="col-md-6">
    <img src="images/profile.png" width="100%">
  </div>
</div>