<div class="background">
  <img class="bg" src="images/background-4.jpg">
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 contact">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
			  <h1 class="title" align="center">Contact Me</h1>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row">
			<div class="col-md-6 contact-box">
				<span class="glyphicon glyphicon-envelope">   jbruzek@vt.edu</span>
			</div>
			<div class="col-md-5 contact-box">
				<span class="glyphicon glyphicon-phone">   (434)-258-2152</span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 contact-box">
				<h3>Current Address</h3>
				<address>
				6500 Colonial Drive<br>
				Apartment J/L<br>
				Blacksburg, VA 24060
				</address>
			</div>
			<div class="col-md-5 contact-box">
				<h3>Permanent Address</h3>
				<address>
				1043 Bent Oak Circle<br>
				Forest, VA 24551
				</address>
			</div>
		</div>

	</div>
	<div class="col-md-3"></div>
</div>