<div class="row">
	<h1>Contact Me</h1>
</div>

<div class="row">
	<div class="col-md-3 contact-box">
		<h2>Email</h2>
		<p>jbruzek@vt.edu</p>
	</div>
	<div class="col-md-3 contact-box">
		<h2>Phone</h2>
		<p>(434) 258-2152</p>
	</div>
</div>

<div class="row">
	<div class="col-md-3 contact-box">
		<h2>Current Address</h2>
		<address>
		6500 Colonial Drive<br>
		Apartment J/L<br>
		Blacksburg, VA 24060
		</address>
	</div>
	<div class="col-md-3 contact-box">
		<h2>Permanent Address</h2>
		<address>
		1043 Bent Oak Circle<br>
		Forest, VA 24551
		</address>
	</div>
</div>