<div class="row title"> 
	<h1 align="center">Critisearch</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<p>Critisearch is an educational web app I am building for the Third Lab at Virginia Tech</p>

		<p>The purpose of Critisearch is to empower children in the process of using a search engine. The research of the Third Lab had shown that when viewing the results of a search, children had a hard time differentiating from useful links and filler such as shopping and media links. Critisearch allows the students to rate their links (using an good/bad voting system) and then sort their results on the page to improve their results.</p>

		<p>Another key feature of Critisearch is the ability for a teacher to create an account and curate a class. The teacher is then able to view the queries being made by the students in the class to help students.</p>

		<p>The website was built using Twitter Bootstrap, Angularjs, and Nodejs. Throughout the process of building the website I became proficient in javascript, html/css, jquery, and MySQL.</p>
	</div>

	<div class="col-md-6">
		<img class="tile" src="images/critisearch-logo.png">
	</div>
</div>