<div class="row title"> 
	<h1 align="center">Death Number</h1>
</div>

<div class="row">
	<div class="col-md-3">
		<img class="project-p" src="images/Death_Number_1.png">
	</div>
	<div class="col-md-6">
		<p>In January 2014 I was selected by the Institute For Creativity, Arts, and Technology at Virginia Tech to attend the innaugural National Creatives Student Conference by the Alliance for the Arts in Research Universities. I sent four days at Stanford University working with other creative undergraduate and graduate students from across the country learning about interdisciplinary collaboration and working with the d.school at Stanford university.</p>

		<p>As a part of the conference, teams were formed to create short projects. An emphasis was placed on creativity and collaboration. I was a part of the group labelled "Arts and Hacks", students excited about troublemaking. We decided to play with the notion of troublemaking and create an Android app that would tell someone how close they came to death on that day. The user would answer a series of playful question, and then the app would present them with a score, how close they were to death. In order to maintain a level of playfullness to the app, the user would additionally be given a sentence describing their score, such as "You lost more than 2 minutes from your total lifetime".</p>

		<p>Over the course of an evening and an afternoon, I prototyped the app for demonstration to the entire conference at the final meeting of the weekend.</p>
	</div>

	<div class="col-md-3">
		<img class="project-p" src="images/Death_Number_2.png">
	</div>
</div>