<div class="row title"> 
	<h1 align="center">Computer Science 101 at Holy Cross School</h1>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p>Over Spring Break 2014 I spent a week teaching high schoolers at Holy Cross Regional School in Lynchburg, Va the basics of Object-Oriented Programming.</p>

		<p>Throughout the course of the week I taught 12 students basics of programming in Java, such as variables, if/else statements, and loops, as well as introductory object-oriented concepts such as inheritance. I plan on continuing this course in the future when I can, possibly in other languages like C++ or javascript, and doing various modules like building a website or making a desktop game.</p>

		<a href="http://jbruzek.wix.com/compsci" target="_blank">I used a simple website built using wix to facilitate the class.</a>
	</div>
	<div class="col-md-2"></div>
</div>