<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <div class="grid-menu">
      <ul class="item-list">
        
        <li class="project"ng-click="linkTo('project')">
          <img class="tile" src="images/linkedin.png">
        </li>

        <li class="project circle" ng-click="linkTo('about')">
          <h1>About</h1>
        </li>
      
        <li class="project"ng-click="linkTo('project')">
          <img class="tile" src="images/seek.png">
        </li>
      
        <li class="project" ng-click="linkTo('tapus')">
          <img class="tile" src="images/tapus_tile.png">
        </li>
      
        <li class="project" ng-click="linkTo('pickmymovie')">
          <h1>PickMyMovie!</h1>
        </li>
      
        <li class="project" ng-click="linkTo('project')">
          <h1>Critisearch</h1>
        </li>
      
        <li class="project circle" ng-click="linkTo('contact')">
          <h1>Contact</h1>
        </li>
      
        <li class="project"ng-click="linkTo('project')">
          <img class="tile" src="images/vt.jpg">
        </li>
      
        <li class="project"ng-click="linkTo('project')">
          <img class="tile" src="images/github_icon.png">
        </li>
      
        <li class="project" ng-click="linkTo('project')">
          <h1>Project</h1>
        </li>
      
        <li class="project" ng-click="linkTo('project')">
          <h1>Project</h1>
        </li>
      
        <li class="project" ng-click="linkTo('project')">
          <h1>Project</h1>
        </li>
      
        <li class="project" ng-click="linkTo('project')">
          <h1>Project</h1>
        </li>

        <li class="project" ng-click="linkTo('deathnumber')">
          <h1>Death Number</h1>
        </li>
      
        <li class="project" ng-click="linkTo('project')">
          <h1>Project</h1>
        </li>
        
      </ul>
    </div>
    </div>
  <div class="col-md-1"></div>
</div>