<div class="background">
  <img class="bg" src="images/background-3.jpg">
</div>

<div class="home">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1 class="title" align="center">Joe Bruzek</h1>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 grid-column">

      <div class="grid-menu">
        <ul class="item-list">
        
          <li class="project project-nopic" ng-click="linkTo('critisearch')">
            <img class="tile" src="images/critisearch.png">
          </li>

          <li class="project circle project-nopic" style="background-color: #0000FF" ng-click="linkTo('about')">
            <img class="tile" src="images/about.png">
          </li>
        
          <li class="project pickmymovie" ng-click="linkTo('pickmymovie')">
            <img class="tile" src="images/pickmymovie.png">
          </li>
        
          <li class="project circle project-nopic" style="background-color: #FF0000" ng-click="linkTo('contact')">
            <img class="tile" src="images/contact.png">
          </li>
        
          <li class="project" ng-click="linkTo('tapus')">
            <img class="tile" src="images/tapus.png">
          </li>
        
          <li class="project"ng-click="linkTo('seek')">
            <img class="tile" src="images/seek.png">
          </li>
          
          <li class="project"ng-click="linkedIn()">
            <img class="tile" src="images/linkedin.png">
          </li>
        
          <li class="project circle project-nopic" style="background-color: #1DC021" ng-click="resume()">
            <img class="tile" src="images/resume.png">         
          </li>
        
          <li class="project" ng-click="github()">
            <img class="tile" src="images/Octocat.png">
          </li>
        
          <li class="project project-nopic" ng-click="linkTo('hc-cs')">
            <img class="tile" src="images/hccs.png">
          </li>
        
          <li class="project" ng-click="twitter()">
            <img class="tile" src="images/twitter.png">
          </li>

          <li class="project project-nopic" ng-click="linkTo('deathnumber')">
            <img class="tile" src="images/deathnumber.png">
          </li>
          
        </ul>
      </div>
      </div>
    <div class="col-md-1">
      <div class="scroll">
        <img class="tile scroll-image" src="images/scroll.png">
      </div></div>
  </div>
</div>