<div class="row title"> 
	<h1 align="center">Pick My Movie!</h1>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6">
		<p>Pick My Movie is an android app that I am currently developing.</p>
		<p>Imagine this: you are with a group of your friends and someone suggests watching a movie. "What a great idea!" everyone agrees, but then comes the almost mammoth task of actually picking a movie to watch. With every suggestion a collective "meh" is produced, with some people agreeing, others disagreeing, but the majority of the group remaining indifferent. Why is it so hard to pick a movie?</p>

		<p>Pick My Movie! is an app that I am developing that does one thing really well: it picks a movie for you. The idea for Pick My Movie! came from the exact scenario presented above with my friends. Now, whenever there is a movie to be chosen, we can simply pull out the app and have our choice made for us.</p>

		<p>The current iteration of the app utilizes a local database on my phone with a list of my movies. A movie can be selected totally at random, or the choices can be sorted by genre. I am currently working on moving my database to the internet, so that movie lists can be accessed on multiple devices, and enabling users to switch between different lists of movies within the app. Longer-term goals include incorporating IMDB API's for dynamic content loading, user logins, the ability to share movie lists with your friends, and an iOS app.</p>

		<p>I hope to have a polished version of Pick My Movie! in the Google Play store by the end of 2014.</p>
	</div>

	<div class="col-md-2">
		<img class="project-p" src="images/pmm-1.png">
	</div>
	<div class="col-md-2"></div>
</div>

<div class="space"></div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-2">
		<img class="project-p" src="images/pebble1.png">
	</div>

	<div class="col-md-6">
		<p>Additionally, with the current version of Pick My Movie!, I have developed a simple Pebble Smartwatch application to accompany the app. This allows you to (if you so choose) pick a movie from your wrist.</p>

		<p>After playing around with this method of movie picking, I found it to be just novel enough to make me want to use it practically every day. I plan on using this project as a way to begin coding for Android Wear, as I am interested in exploring the platform, and I know this is already a viable use of the technology. </p>

		<p>Currently, the smartwatch application requires the app to be running on your phone (in the background works). The next step for this feature is to build a service that will have the app available to pick a movie even if the app is not open. </p>
	</div>
	<div class="col-md-2"></div>
</div>