<div class="row title"> 
	<h1 align="center">Pick My Movie!</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<p>Pick My Movie is an android app that I am currently developing.</p>
		<p>Bacon ipsum dolor sit amet ham hock prosciutto strip steak sausage andouille porchetta bacon jerky. Turkey filet mignon tail spare ribs jerky kevin kielbasa ham frankfurter flank bacon. Fatback rump biltong shankle drumstick. Beef shankle flank landjaeger venison boudin filet mignon ribeye prosciutto. Beef ribs pork chop flank swine, bresaola corned beef pastrami tongue chicken jowl ball tip kevin. Chicken short ribs tongue spare ribs, ham brisket beef pastrami pig kielbasa turducken.</p>

		<p>Doner ball tip porchetta, frankfurter tenderloin corned beef pig kevin chicken pork drumstick. Pancetta ham hock salami shankle tri-tip ribeye strip steak. Tongue meatloaf meatball capicola. Shankle chuck spare ribs, doner tri-tip kevin shank pastrami beef boudin capicola ribeye jowl pork chop prosciutto. Strip steak capicola pork belly, tongue turducken leberkas jowl shank flank. Ham hock brisket chicken pork chop tongue.</p>

		<p>Tail kielbasa spare ribs turkey biltong porchetta brisket meatball shankle pork chop salami, turducken pancetta swine andouille. Pork flank pork belly tongue ham hock, pancetta jowl meatloaf biltong kevin. Salami andouille brisket pork belly pork loin. Kielbasa jowl rump boudin tail, andouille shoulder tongue ham. T-bone porchetta salami, turkey kevin pig brisket tail tri-tip pastrami swine.</p>
	</div>

	<div class="col-md-6">
		<img class="tile" src="images/pickmymovie.png">
	</div>
</div>