<img class="bg" src="images/background.jpg">

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	  <h1 class="title" align="center">Projects</h1>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row project-row">
	<div class="col-md-6">
		<h1 class="project-title">Tapus</h1>
		<p>Bacon ipsum dolor sit amet capicola biltong doner, flank pork loin chuck meatloaf venison tongue cow brisket ribeye drumstick tail ground round. Andouille jerky venison pancetta kielbasa salami, ball tip bacon short ribs capicola ham hock. Meatloaf prosciutto jerky shoulder, pork belly fatback ham swine kielbasa shankle pancetta tenderloin. Landjaeger capicola meatball, jowl beef ribs chuck pastrami rump shankle chicken sausage spare ribs. Short ribs shank porchetta pancetta kielbasa. Beef ribs shoulder flank, sausage sirloin short loin shankle pastrami meatloaf t-bone ham hock boudin.</p>

		<p>Cow shankle boudin tail. Prosciutto ham hock shank chicken drumstick jowl ribeye turducken tenderloin spare ribs sausage boudin doner porchetta. T-bone ball tip tongue ground round jerky pork filet mignon, ham hock cow biltong leberkas jowl. Biltong frankfurter drumstick, filet mignon turducken tongue turkey chicken corned beef meatball landjaeger brisket. Andouille filet mignon kielbasa pork leberkas meatloaf doner ham hock beef hamburger meatball bresaola rump tail. Pork loin kevin pancetta beef ribs doner prosciutto salami.</p>
	</div>
	<div class="col-md-6">
		<img class="tile" src="images/seek.png">
	</div>
</div>

<div class="row project-row">
	<div class="col-md-6">
		<img class="tile" src="images/vt.jpg">
	</div>
	<div class="col-md-6">
		<h1 class="project-title">Another Project</h1>
		<p>Bacon ipsum dolor sit amet capicola biltong doner, flank pork loin chuck meatloaf venison tongue cow brisket ribeye drumstick tail ground round. Andouille jerky venison pancetta kielbasa salami, ball tip bacon short ribs capicola ham hock. Meatloaf prosciutto jerky shoulder, pork belly fatback ham swine kielbasa shankle pancetta tenderloin. Landjaeger capicola meatball, jowl beef ribs chuck pastrami rump shankle chicken sausage spare ribs. Short ribs shank porchetta pancetta kielbasa. Beef ribs shoulder flank, sausage sirloin short loin shankle pastrami meatloaf t-bone ham hock boudin.</p>

		<p>Cow shankle boudin tail. Prosciutto ham hock shank chicken drumstick jowl ribeye turducken tenderloin spare ribs sausage boudin doner porchetta. T-bone ball tip tongue ground round jerky pork filet mignon, ham hock cow biltong leberkas jowl. Biltong frankfurter drumstick, filet mignon turducken tongue turkey chicken corned beef meatball landjaeger brisket. Andouille filet mignon kielbasa pork leberkas meatloaf doner ham hock beef hamburger meatball bresaola rump tail. Pork loin kevin pancetta beef ribs doner prosciutto salami.</p>
	</div>
</div>
