<div class="row">  <!-- The title -->
	<div class="col-md-5"></div>
	<div class="col-md-2 title">
		<h1 align="center">See[k]</h1>
	</div>
	<div class="col-md-5"></div>
</div>

<div class="row"> 
	<div class="col-md-2"></div>
  <div class="col-md-6">
  	
  	<p>See[k]</p>
  	<p>See[k] is a project I lead through the Virginia Tech studio of Design For America the aims to help people make appropriate decisions about their mode of transportation.</p>

	<p>This semester, the See[k] team is splitting into two sub-teams, one to focus on designing the signs and coordinating with the Town of Blacksburg to implement the signs, and another to lead development of a smartphone app and accompanying website to add geo-specific content to the See[k] signs.</p>

	<p>Throughout the course of the project, the See[k] team will coordinate with the Town of Blacksburg, the Virginia Tech office of alternative transportation, the Virginia Tech Mobile Application Development Club, and Design For America National.</p>

	<a href="http://designforamerica.com/projects/seek/" target="_blank">More information about See[k] can be found on the DFA National website.</a>
  </div>

  <div class="col-md-2">
  	<img class="project-p" src="images/seek1.jpg">
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row space">
	<!-- padding -->
</div>

<div class="row">

</div>