<div class="row title">
	<h1 align="center">Tapus</h1>
</div>

<div class="row">  <!-- Intro and video -->
  <div class="col-md-6">
  	
  	<p>Tapus is an exploration in the use of near field communication to transfer data.</p>

  	<p>The goal of Tapus is to make data transfer more personal. Everything from resumes to facebook pages. The use of NFC in smartphones is very exciting; with the announcement of the iPhone 6, almost all common smarthones have NFC compatibility.</p>

	<p>The Tapus device is a NFC pad that can be configured using accompanying computer application to collect or send data to smartphones. There are various differnent situations where this can be useful. The tapus can be used by a amateur musician to share a copy of their ep to fans at a music festival, or the tapus can be used by a student organization to collect attendance and emails at a new semester meeting, building a mailing list for the club.</p>

	<p>Currently, Tapus has a fully developed project overview. The next steps of the project is to build an Android app that would allow someone to use their celphone as a makeshift Tapus pad.</p>
  </div>

  <div class="col-md-6">
  	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/qEQv8ji4dEM"></iframe>
	</div>
  </div>
</div>